<html lang="en">
  <head>
    <body style="background-color:aliceblue;"></body>
    <title>One Hit Wonder Project</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href="style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <header class="container">
      <div class="row">
        <h1 class="col-sm-8">One Hit Wonder Project</h1>
        <div class="col-sm-8">
          <a href="/" target="_blank">
            <button>Home</button>
        </a>
        <a href="https://github.com/nsubbiah7/One-Hit-Wonder-Spotify-API-Project" target="_blank">
            <button>Github</button>
        </a>
      </div>
      </div>
      <img src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="headphones" height = "200" width = "400">
      <p>This is a web application which determines whether a song is a one hit wonder or not (https://en.wikipedia.org/wiki/One-hit_wonder). 
      It also gives the user information on the artist's popularity, genre, and hit songs. 
      This web application uses the Spotify REST API, Flask, and AWS Elastic Beanstalk. The user inputs the name of a song and the name of the song's artist. 
      In order for a song to be considered a one hit wonder, it needs to be the artist's most popular song. If that is true, the program calculates the difference in popularity score between the artist's most popular song and the average popularity score of the artist's next four most popular songs.
      This difference is called the difference score. If the difference score for is large enough to be in the 85th percentile or higher, the song is then considered a one hit wonder. This percentile is calculated by comparing the difference score for the user's input to the difference scores calculated using a Kaggle data set of Spotify artist IDs.
      Examples of songs which are considered one hit wonders by this application are Somebody That I Used To Know by Gotye and Let Her Go by Passenger.</p>
  </body>