<html lang="en">
  <head>
    <body style="background-color:aliceblue;"></body>
    <title>One Hit Wonder Project</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href="style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <header class="container">
      <div class="row">
        <h1 class="col-sm-8">One Hit Wonder Project</h1>
        <div class="col-sm-8">
          <a href="about.html" target="_blank">
            <button>About</button>
        </a>
        <a href="https://github.com/nsubbiah7/One-Hit-Wonder-Spotify-API-Project" target="_blank">
            <button>Github</button>
        </a>
      </div>
      </div>
          <img src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="headphones" height = "200" width = "400">
          <p>One Hit Wonder project uses the Spotify API to use the relative popularity of an artist's top 5 songs to determine whether or not that song is a one hit wonder.</p>
          <form action="{{url_for('my_link')}}" method=POST>
            <input name="artist" placeholder="artist"> 
            <input name="song" placeholder="song">
            <input type="submit">
          </form>
      </div>
  </body>